<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register for Adlister</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1>Register to Post your Blog</h1>
<form th:action="@{/register}" th:method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username">
  <label for="email">Email:</label>
  <input type="email" name="email" id="email">
  <label for="password">Password:</label>
  <input type="password" name="password" id="password">
  <input type="submit" value="Register">
</form>
</body>
</html>