body {
    height: 100vh;
    width: 100%;
    display: flex;
}


.page-wrapper {
    background-color: #b41313;
}

nav {
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}