header {
    background-color: #000000;
    height: 100vh;
    width: 100%;
    display: flex;
}

nav {
    background-color: #fbfbfb;
    /*height: 100vh;*/
    /*width: 20%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}