body {
    height: 100vh;
    width: 100%;
    display: flex;
}

.nav-link {
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-right: 20px;
}
