<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Dice Rolled</title>
</head>
<body>

<div class="container">
	<h1 class="my-3">Try your Luck!</h1>
	<p>Choose a number from 1 to 6 and roll the dice!</p>
	<ul class="btn-group" role="group">
		<li><a class="btn btn-primary" href="/roll-dice/1">1</a></li>
		<li><a class="btn btn-primary" href="/roll-dice/3">3</a></li>
		<li><a class="btn btn-primary" href="/roll-dice/4">4</a></li>
		<li><a class="btn btn-primary" href="/roll-dice/5">5</a></li>
		<li><a class="btn btn-primary" href="/roll-dice/6">6</a></li>
	</ul>
</div>

</body>
</html>